chex
clu
einops
flax
gin-config
imageio
jax[cpu]
mediapy
numpy
pandas
simple_parsing
sunds
tensorflow
tfds-nightly
typing_extensions
xmanager

# Install etils from head
# Note: Each sub-modules deps should be installed individually
etils[array-types,enp,epath-no-tf,epy,etqdm,etree-jax] @ git+git://github.com/google/etils
