chex
clu
einops
flax
gin
imageio
jax
mediapy
numpy
pandas
simple_parsing
sunds
tf-nightly
tfds-nightly
typing_extensions
xmanager

# Install etils from head
# Note: Each sub-modules deps have to be installed individually
etils[array_types,enp,epath,epy,etqdm,etree_jax] @ git+git://github.com/google/etils
